@{
    ViewBag.Title = "About Us";
}
<div class="container">
    <div class="row">
        <div class="col-auto">
            <p>In Here you will see about us page</p>
        </div>
    </div>
</div>


