<div class="text-center midesection-style">
    <img src="~/images/empty_cartt.png" height="300"/>
    <h1 class="display-1">Nothing here !</h1>
    <h3>Looks like your cart is empty.<strong> Let’s fix that!</strong></h3>
</div>