<div class="text-center midesection-style">
    <img src="~/images/sad_face.png" height="300"/>
    <h1 class="display-1">Oops!</h1>
    <h3>It seems like you don't have active offers for sale <strong>yet</strong></h3>
</div>