<div class="col-12">
    <div class="midesection-style shadow text-center">
        <img src="~/images/sad_face.png" height="300" />
        <h1 class="display-1">Oops!</h1>
        <h3>We couldn't find any items with corresponding phrase / category</h3>
    </div>
</div>
