@using ComputerServiceOnlineShop.ViewModels;
@using ComputerServiceOnlineShop.ViewModels.IndexPageViewModel
@model IEnumerable<MainPageCardViewModel>
@foreach (var item in Model)
{
    <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-4">
        <a href="@Url.Action("ShowOffer", "Offer", new { id = item.Id })" class="card-link">
            <div class="card">
                <img src="@Url.Content(item.ImagePath)" class="card-img-top" alt="product-image">
                <div class="card-body text-start">
                    <h5 class="card-title item-price">@item.Price PLN</h5>
                    <h6 class="card-title item-name">@item.Title</h6>
                    <p>
                        @for (int j = 0; j < 5; j++)
                        {
                            <i class="fa fa-star" aria-hidden="true"></i>
                        }
                    </p>
                </div>
            </div>
        </a>
    </div>
}