<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ComputerServiceOnlineShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ComputerServiceOnlineShop.styles.css" asp-append-version="true" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <header>

        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="fa-solid fa-store"></i>
                    <span class="fw-bold fs-4">Marketplace</span>
                </a>


                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
                    <span class="navbar-toggler-icon text-black"></span>
                </button>


                <div class="collapse navbar-collapse" id="navbarContent">
                    <form class="d-flex flex-grow-1 my-2 my-lg-0">
                        <input class="form-control me-2" type="search" placeholder="Search phrase" aria-label="Search">
                        <select class="form-select me-2">
                            <option selected disabled class="fw-bold">Category</option>
                            <option value="1">GPU</option>
                            <option value="2">CPU</option>
                            <option value="3">RAM</option>
                            <option value="4">PSU</option>
                            <option value="5">CASE</option>
                            <option value="6">Mouse</option>
                            <option value="7">Keyboard</option>
                        </select>
                        <button class="btn btn-outline-light me-2" type="submit">Search</button>
                    </form>

                    <div class="d-flex align-items-center mt-3 mt-lg-0">
                        <i class="fa-solid fa-heart me-3 fa-lg"></i>
                        <i class="fa-solid fa-bell me-3 fa-lg"></i>
                        <a asp-controller="cart" asp-action="cart"> <i class="fa-solid fa-bag-shopping me-3 fa-lg"></i></a>
                        <div>
                            <span>PLN 0.00</span>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container-fluid bg-dark">
            <div class="container lower-navbar">
                <div class="row">
                    <div class="col-2 fw-bold">
                        <a asp-controller="Auction" asp-action="AddAuction">
                            <i class="fa-solid fa-plus d-block d-lg-none fa-2x mt-2 mt-lg-0"></i>
                            <span class="d-none d-lg-inline">Add Auction</span>
                        </a>
                    </div>
                    <div class="col-2 fw-bold">
                        <a asp-controller="Auction" asp-action="AllUserAuctions">
                            <i class="fa-solid fa-boxes-stacked fa-2x d-block d-lg-none fa-2x mt-2 mt-lg-0"></i>
                            <span class="d-none d-lg-inline">Your Auctions</span>
                        </a>
                    </div>
                    <div class="col-2 fw-bold">
                        <a asp-controller="Auction" asp-action="ShowAuction" >
                            <span class="d-none d-lg-inline">Test Item</span>
                            <i class="fa-solid fa-helmet-safety d-block d-lg-none fa-2x mt-2 mt-lg-0"></i>
                        </a>
                    </div>
                    <div class="col-2 fw-bold">
                        <a asp-controller="Auction" asp-action="AddAuction" >
                            <span class="d-none d-lg-block">Test Item</span>
                            <i class="fa-solid fa-helmet-safety d-block d-lg-none fa-2x mt-2 mt-lg-0"></i>
                        </a>
                    </div>
                    <div class="col-2 fw-bold">
                        <a asp-controller="Auction" asp-action="AuctionBrowser" >
                            <span class="d-none d-lg-block">Test Item</span>
                            <i class="fa-solid fa-helmet-safety d-block d-lg-none fa-2x mt-2 mt-lg-0"></i>
                        </a>
                    </div>
                    <div class="col-2 text-center">
                        <span>
                            @if(Context.Session.GetString("UserId") != null)
                            {
                                <a asp-controller="Account" asp-action="Logout" class="fw-bold">
                                    <span class="d-none d-lg-inline">Logout</span>
                                    <i class="fa-solid fa-right-from-bracket d-block d-lg-none fa-2x mt-2 mt-lg-0 mb-2"></i>
                                </a>
                            }
                            else
                            {
                                <a asp-controller="Account" asp-action="Register" class="fw-bold">Register</a>
                                <span class="d-none d-lg-inline-block">|</span>
                                <a asp-controller="Account" asp-action="Login" class="fw-bold">Login</a>
                            }
                        </span>
                    </div>
                </div>
            </div>
        </div>

    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-6">
                    <span class="fs-6 underline mb-4 fw-bold">Working hours</span>
                    <ul class="list-unstyled footer-list">
                        <li>
                            <span>Monday to Friday 8:00 - 20:00</span>
                        </li>
                        <li>
                            <span>Saturday 10:00 - 15:00</span>
                        </li>
                        <li>
                            <span>Saturday - Closed</span>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-6">
                    <span class="fs-6 underline mb-4 fw-bold">Company</span>
                    <ul class="list-unstyled footer-list">
                        <li>
                            <span>About Us</span>
                        </li>
                        <li>
                            <span><a asp-controller="Login" asp-action="Login">Login</a></span>
                        </li>
                        <li>
                            <span>Privacy Policy</span>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-6">
                    <span class="fs-6 underline mb-4 fw-bold">Online Shop</span>
                    <ul class="list-unstyled footer-list">
                        <li>
                            <span>Shipping</span>
                        </li>
                        <li>
                            <span><a asp-controller="Cart" asp-action="Cart">Cart</a></span>
                        </li>
                        <li>
                            <span><a asp-controller="Contact" asp-action="Contact">Contact</a></span>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-6 fw-bold">
                    <span class="fs-6 underline mb-4">Follow Us</span>
                    <ul class="list-unstyled footer-list">
                        <li>
                            <a href="https://www.youtube.com/c/VortexOoN"><i class="fa-brands fa-youtube icon"></i></a>
                            <a href="https://github.com/TheCrudClapper"><i class="fa-brands fa-github icon"></i></a>
                            <a href="https://www.linkedin.com/in/wojciech-mucha-b127b0252/"><i class="fa-brands fa-linkedin icon"></i></a>
                            <a href="https://discord.gg/NKyGBQtAU7"><i class="fa-brands fa-discord icon"></i></a>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <span>&copy; OptiPC Poland - All Rights Reserved</span>
                </div>
            </div>
        </div>
    </footer>


    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
