@model IDictionary<string, object?>

<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 1100">
    <div id="liveToast" class="toast align-items-center border-1 purple-background
            @(Model["SuccessMessage"] != null ? "text-black" : "text-danger fw-bold")
            border-0 show" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body bg-white">
                @Html.Raw(Model["SuccessMessage"] ?? Model["ErrorMessage"])
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>
<script>
    window.addEventListener('DOMContentLoaded', () => {
        const toastEl = document.getElementById('liveToast');
        const toast = new bootstrap.Toast(toastEl, { delay: 4000 });
        toast.show();
    });
</script>
