@model int
<div class="container mt-3">
    <div class="row g-3">
        <div class="text-center midesection-style">
            <img src="~/images/sad_face.png" height="300" />
            <h1 class="display-1">Oops!</h1>
            <h3>We're sorry, but we couldn't find an offer with ID <strong>@Model</strong>.</h3>
        </div>
    </div>
</div>