@model ComputerServiceOnlineShop.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
@section Styles {
    <link rel="stylesheet" href="~/css/registration-style.css" asp-append-version="true" />
}
<div class="container login-page-container">
    <div class="text-center mb-3 midesection-style ms-1 me-1">
        <i class="fa-solid fa-store fa-10x"></i> <br />
        <h1 class="fw-bold">Marketplace</h1>
        <h6>Place for your electronics</h6>
    </div>
    <h3 class="fw-bold ms-1">Base Info</h3>
    <form asp-action="Register" method="post">
        <div class="row midesection-style shadow p-3 mb-3 ms-1 me-1 shadow">
            <div class="col-sm-6">
                <div class="mb-3">
                    <label class="form-label">First Name*</label>
                    <input asp-for="FirstName" type="text" class="form-control">
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label">Surname*</label>
                    <input asp-for="Surname" type="text" class="form-control">
                    <span asp-validation-for="Surname" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label">Password*</label>
                    <input asp-for="Password" class="form-control">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label">Email address*</label>
                    <input asp-for="Email" class="form-control">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div> 
            </div>
            <div class="col-sm-6">
                <div class="mb-3">
                    <label class="form-label">NIP</label>
                    <input asp-for="NIP" type="text" class="form-control">
                    <span asp-validation-for="NIP" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label">Title</label>
                    <input asp-for="Title" type="text" class="form-control">
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label">Phone Number</label>
                    <input asp-for="PhoneNumber" class="form-control">
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="mb-3">
                </div>
            </div>
        </div>
        <h3 class="fw-bold ms-1">Address Info</h3>
        <div class="row midesection-style shadow p-3 ms-1 me-1">
            <div class="col-sm-6">
                <div class="mb-3">
                    <label class="form-label">Place*</label>
                    <input asp-for="Place" type="text" class="form-control">
                    <span asp-validation-for="Place" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label">Street*</label>
                    <input asp-for="Street" type="text" class="form-control">
                    <span asp-validation-for="Street" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label">House Number*</label>
                    <input asp-for="HouseNumber" type="text" class="form-control">
                    <span asp-validation-for="HouseNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="mb-3">
                    <label class="form-label">Postal City*</label>
                    <input asp-for="PostalCity" type="text" class="form-control">
                    <span asp-validation-for="PostalCity" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label">Postal Code*</label>
                    <input asp-for="PostalCode" class="form-control">
                    <span asp-validation-for="PostalCode" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label">Country*</label>
                    <select class="form-select" asp-for="SelectedCountry" asp-items="Model.CountriesSelectionList">
                        <option selected disabled>Select Country</option>
                    </select>
                    <span asp-validation-for="SelectedCountry" class="text-danger"></span>
                </div>
            </div>
            <div class="col-sm-12 text-center">
                @Html.ValidationSummary(true, "", new { @class = "text-danger list-unstyled d-inline-block" })
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 text-center">
                <button type="submit" class="btn btn-outline-light w-50">Register</button>
            </div>
        </div>
    </form>
        @if (!string.IsNullOrEmpty(ViewData["userExists"]?.ToString()))
        {
            <script type="text/javascript">
                window.onload = function () {
                alert("@Html.Raw(ViewData["userExists"]?.ToString())");
                };
            </script>
        }
</div>