@model AccountDetailsViewModel
@{
    Layout = "_AccountSettingsLayout";
    ViewBag.Title = "AccountSettings";
}
@section Styles {
    <link rel="stylesheet" href="~/css/registration-style.css" />
}
<div class="bg-white shadow py-3 mb-4 rounded-2">
    <h4 class="fw-bold px-3">Account Details</h4>

    @* Form for user details *@
    <div id="user-details-form-container">
        @await Html.PartialAsync("AccountPartials/_UserDetailsForm", Model.UserDetails)
    </div>
    
</div>


<div class="bg-white shadow py-3 mb-4 rounded-2">
    <h4 class="fw-bold px-3">Address Details</h4>

    @* Address fields *@
    <form asp-controller="Address" asp-action="Edit" class="pt-3" method="post">
        @Html.AntiForgeryToken()
        <div class="mb-4 px-3">
            <label asp-for="EditAddress.Place" class="form-label">Place</label>
            <input asp-for="EditAddress.Place" type="text" class="form-control" placeholder="Enter Place">
            <span class="text-danger" asp-validation-for="EditAddress.Place"></span>
        </div>
        <div class="mb-4 px-3">
            <label asp-for="EditAddress.Street" class="form-label">Street</label>
            <input asp-for="EditAddress.Street" type="text" class="form-control" placeholder="Enter email">
            <span class="text-danger" asp-validation-for="EditAddress.Street"></span>
        </div>
        <div class="mb-4 px-3">
            <label asp-for="EditAddress.HouseNumber" class="form-label">House Number</label>
            <input asp-for="EditAddress.HouseNumber" type="text" class="form-control" placeholder="Enter house number">
            <span class="text-danger" asp-validation-for="EditAddress.HouseNumber"></span>
        </div>
        <div class="mb-4 px-3">
            <label asp-for="EditAddress.PostalCity" class="form-label">Postal City</label>
            <input asp-for="EditAddress.PostalCity" type="text" class="form-control" placeholder="Enter postal city">
            <span class="text-danger" asp-validation-for="EditAddress.PostalCity"></span>
        </div>
        <div class="mb-4 px-3">
            <label asp-for="EditAddress.PostalCode" class="form-label">Postal Code</label>
            <input asp-for="EditAddress.PostalCode" type="text" class="form-control" placeholder="Enter postal code">
            <span class="text-danger" asp-validation-for="EditAddress.PostalCode"></span>
        </div>
        <div class="mb-4 px-3">
            <label for="phoneInput" class="form-label">Country</label>
            <select class="form-select" asp-for="EditAddress.SelectedCountry" asp-items="Model.EditAddress.CountriesSelectionList">
                <option disabled selected>Select Country</option>
            </select>
            <span class="text-danger" asp-validation-for="EditAddress.SelectedCountry"></span>
        </div>
        <div class="mb-4">
            <button type="submit" class="btn purple-background text-white ms-3 mt-2">Update</button>
        </div>
    </form>
</div>


@* Password Change Fields *@
<div class="bg-white shadow py-3 mb-4 rounded-2">
    <h4 class="fw-bold px-3">Password Change</h4>
    <form asp-controller="Account" asp-action="ChangePassword" class="pt-3" method="post">
        @Html.AntiForgeryToken()
        <div class="mb-4 px-3">
            <label asp-for="PasswordChange.CurrentPassword" class="form-label">Current Password</label>
            <input asp-for="PasswordChange.CurrentPassword" type="password" class="form-control" placeholder="Enter current password">
            <span class="text-danger" asp-validation-for="PasswordChange.CurrentPassword""></span>
        </div>
        <div class="mb-4 px-3">
            <label asp-for="PasswordChange.NewPassword" class="form-label">New Password</label>
            <input asp-for="PasswordChange.NewPassword" type="password" class="form-control" placeholder="Enter new password">
            <span class="text-danger" asp-validation-for="PasswordChange.NewPassword"></span>
        </div>
        <div class="mb-4 px-3">
            <label asp-for="PasswordChange.ConfirmPassword" class="form-label">Confirm Password</label>
            <input asp-for="PasswordChange.ConfirmPassword" type="password" class="form-control" placeholder="Enter confirmation password">
            <span class="text-danger" asp-validation-for="PasswordChange.ConfirmPassword"></span>
        </div>
        <div class="mb-4">
            <button type="submit" class="btn purple-background text-white ms-3 mt-2">Change</button>
        </div>
    </form>
</div>

@* Account Deletion Option *@
<div class="bg-white shadow py-3 mb-4 rounded-2">
    <h4 class="fw-bold px-3">Delete Account</h4>
    <div class="mb-4 px-3">
        <span class="text-secondary">
            Deleting Account means your account will become <b>inactive</b> any sent applications or post application will be also invalidated.
            You can always reactivate your account if you wish.
        </span>
    </div>
    <div class="mb-4">
        <a href="/account/deleteAccount" class="btn btn-danger text-white ms-3 mt-2 disabled">Delete Account</a>
    </div>
</div>

@section Scripts{
    <script>
          $(document).ready(function () {
            $('#user-details-form-container').on('submit', '#userDetailsForm', function (e) {
                e.preventDefault();
                var form = $(this);
                var url = form.attr('action');
                var formData = form.serialize();

                $.ajax({
                    type: "POST",
                    url: url,
                    data: formData,
                    success: function (partialResult) {
                        $('#address-form-container').html(partialResult);
                        showToast("User details updated", true);
                    },
                    error: function () {
                        showToast("Something went wrong", false);
                    }
                });
            });
        });
    </script>
}