@using ComputerServiceOnlineShop.ViewModels.AccountViewModels
@model LoginViewModel
@{
    ViewBag.Title = "Login";
}
@section Styles {
    <link rel="stylesheet" href="~/css/registration-style.css" asp-append-version="true" />
}

<div class="container login-page-container midesection-style">

    @* Logo and slogan here *@
    <div class="text-center mt-2 mb-4">
        <img src="~/images/partify-copy.png" height="100">
    </div>


    @* Login form *@
    <form asp-action="Login" class="d-inline" method="post" asp-route-ReturnUrl="@Context.Request.Query["ReturnUrl"]">
        @Html.AntiForgeryToken()
        <div class="row p-3 mb-3 ms-1 me-1">

            @*Spacer Column*@
            <div class="col-1 col-sm-2 col-md-3"></div>

            <div class="col-10 col-sm-8 col-md-6">

                <div class="mb-3">
                    <label asp-for="Email" class="form-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Password" class="form-label">Password</label>
                    <input asp-for="Password" class="form-control" type="password">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="mb-3 d-flex justify-content-between">
                    <div>
                        <input asp-for="isPersistent" type="checkbox" class="site-checkbox" />
                        <label asp-for="isPersistent" >Remember Me</label>
                    </div>
                    <div>
                        <a class="text-black" href="#">Forgot Password ?</a>
                    </div>
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-outline-dark btn-dark text-white fw-bold w-100">Login</button>
                </div>

                <div class="mb-3">
                    <span class="text-danger">@Html.ValidationMessage("Login")</span>
                </div>

                <div class="mb-3">
                    <div class="separator">
                        <span>Or continue with</span>
                    </div>
                </div>

                <div class="mb-3 d-flex justify-content-between">

                    <button class="btn third-parties-button me-1 disabled">
                        <i class="fa-brands fa-facebook"></i>
                        <span>Facebook</span>
                    </button>

                    <button class="btn third-parties-button ms-1 disabled">
                        <i class="fa-brands fa-google"></i>
                        <span>Google</span>
                    </button>

                </div>

                <div class="mb-3 d-flex justify-content-between">
                    <button class="btn third-parties-button ms-1 disabled">
                        <i class="fa-brands fa-github"></i>
                        <span>Log in using GitHub</span>
                    </button>
                </div>
            </div>

            @*Spacer Column*@
            <div class="col-1 col-sm-2 col-md-3"></div>
        </div>
    </form>
</div>