@section Styles {
    <link rel="stylesheet" href="~/css/spinner.css" />
}
<div id="loadingSpinner" class="d-flex justify-content-center my-5" style="display: none;">
    <svg viewBox="25 25 50 50" style="width: 3.25em; transform-origin: center; animation: rotate4 2s linear infinite;">
        <circle r="20" cy="50" cx="50" style="fill: none; stroke: hsl(214, 97%, 59%); stroke-width: 2; stroke-dasharray: 1, 200; stroke-dashoffset: 0; stroke-linecap: round; animation: dash4 1.5s ease-in-out infinite;"></circle>
    </svg>
</div>
