@using ComputerServiceOnlineShop.ViewModels
@using ComputerServiceOnlineShop.ViewModels.HomePageViewModels;
@using ComputerServiceOnlineShop.ViewModels.IndexPageViewModel
@{
    ViewData["Title"] = "Home Page";
    @model IndexPageViewModel
}
@section Styles {
    <link rel="stylesheet" href="~/css/index-styles.css" asp-append-version="true" />
}
@section Scripts {
    <script src="~/js/index-script.js"></script>
}
<div class="container-fluid">
    @* Carousel with pictures *@

     <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/images/nvidia_gpu.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h2 class="display-1">Place for used pc parts</h2>
                    <p>Unite with other IT enthusiasts and buy components in decent prices !</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/images/monitor.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block ">
                    <h2 class="display-1">New Monitor ?</h2>
                    <p>We got a lot of used monitors just for you</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/images/rig.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h2 class="display-1">Dream PC at your reach !</h2>
                    <p>Workstation ? Gaming PC ? In our shop you can find those - without going bankrupt !</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
 
    @* Section with categories from shop *@
    <div class="container mt-4">
        <div class="row align-items-center justify-content-between">
            <div class="col-auto">
                <p class="display-3 fs-4">Our Categories</p>
            </div>
            <div class="col-auto">
                <button class="btn btn-outline-secondary me-2 scrollButton" id="categoryScrollLeft">
                    <i class="fa fa-chevron-left"></i>
                </button>
                <button class="btn btn-outline-secondary scrollButton" id="categoryScrollRight">
                    <i class="fa fa-chevron-right"></i>
                </button>
            </div>
        </div>

        @await Html.PartialAsync("_CategoryScrollerPartial", Model.CategoriesSlider)

    </div>

    @* Freashly added offers *@
    <div class="container">
        <div class="row mt-3 align-items-center justify-content-between">
            <div class="col-auto">
                <p class="display-3 fs-4 mb-0">Freshly added</p>
            </div>
            <div class="col-auto">
                <button class="btn btn-outline-secondary me-2 scrollButton" id="freshScrollLeft">
                    <i class="fa fa-chevron-left"></i>
                </button>
                <button class="btn btn-outline-secondary scrollButton" id="freshScrollRight">
                    <i class="fa fa-chevron-right"></i>
                </button>
            </div>
        </div>

        @await Html.PartialAsync("_ProductScrollerPartial", new ProductScrollerViewModel
   {
       IdPrefix = "freshCarousel",
       Items = Model.Cards
   })
    </div>

    @* Featured Offers *@
    <div class="container mb-3">
        <div class="row mt-3 align-items-center justify-content-between">
            <div class="col-auto">
                <p class="display-3 fs-4 mb-0">Featured Offers</p>
            </div>
            <div class="col-auto">
                <button class="btn btn-outline-secondary me-2 scrollButton" id="featuredScrollLeft">
                    <i class="fa fa-chevron-left"></i>
                </button>
                <button class="btn btn-outline-secondary scrollButton" id="featuredScrollRight">
                    <i class="fa fa-chevron-right"></i>
                </button>
            </div>
        </div>
        @await Html.PartialAsync("_ProductScrollerPartial", new ProductScrollerViewModel
       {
           IdPrefix = "featuredCarousel",
           Items = Model.Cards
       })
    </div>

    @* Deals of the day section*@
    <div class="container-fluid best-deals-container">
        <div class="container text-white">
            <div class="row justify-content-end">
                <div class="col-auto mt-3">
                    <button class="btn btn-outline-light me-2 scrollButton" id="dealsScrollLeft">
                        <i class="fa fa-chevron-left"></i>
                    </button>
                    <button class="btn btn-outline-light scrollButton" id="dealsScrollRight">
                        <i class="fa fa-chevron-right"></i>
                    </button>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-2 d-flex align-items-center justify-content-center flex-column">
                    <h2 class="fw-bold">Deals of<br /> the Day</h2>
                    <h3 id="clock">08:21:17</h3>
                </div>
                <div class="col-10">
                    @await Html.PartialAsync("_ProductScrollerPartial", new ProductScrollerViewModel
                   {
                       IdPrefix = "dealsCarousel",
                       Items = Model.BestDeals
                   })
                </div>
            </div>  
        </div>
    </div>

    @* Best in X Category - for now static*@
    <div class="container">
        <div class="row mt-3">
            <div class="col-sm-12 mt-2">
                <p class="display-3 fs-4">Best In CASE Category</p>
            </div>
        </div>
        <div class="row mt-2">
            @for (int i = 0; i < 6; i++)
            {
                <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-4">
                    <div class="card">
                        <img src="~/images/pc_case.jpg" class="card-img-top" alt="ram-image">
                        <div class="card-body text-start">
                            <h5 class="card-title item-price">250 PLN</h5>
                            <h6 class="card-title item-name">Shadow X2 Savio</h6>
                            <p>
                                @{
                                    int starsAmount = new Random().Next(1, 6);
                                    for (int j = 0; j < starsAmount; j++)
                                    {

                                        <i class="fa fa-star" aria-hidden="true"></i>

                                    }
                                }
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

