@model CSOS.UI.ViewModels.AddressViewModels.AddAddressViewModel

@* Address fields *@
<form asp-controller="Address" asp-action="Create" id="addressAddForm" class="pt-3" method="post">
    @Html.AntiForgeryToken()
    <div class="mb-4 px-3">
        <label asp-for="Place" class="form-label">Place</label>
        <input asp-for="Place" type="text" class="form-control" placeholder="Enter Place">
        <span class="text-danger" asp-validation-for="Place"></span>
    </div>
    <div class="mb-4 px-3">
        <label asp-for="Street" class="form-label">Street</label>
        <input asp-for="Street" type="text" class="form-control" placeholder="Enter Street">
        <span class="text-danger" asp-validation-for="Street"></span>
    </div>
    <div class="mb-4 px-3">
        <label asp-for="HouseNumber" class="form-label">House Number</label>
        <input asp-for="HouseNumber" type="text" class="form-control" placeholder="Enter House Number">
        <span class="text-danger" asp-validation-for="HouseNumber"></span>
    </div>
    <div class="mb-4 px-3">
        <label asp-for="PostalCity" class="form-label">Postal City</label>
        <input asp-for="PostalCity" type="text" class="form-control" placeholder="Enter Postal City">
        <span class="text-danger" asp-validation-for="PostalCity"></span>
    </div>
    <div class="mb-4 px-3">
        <label asp-for="PostalCode" class="form-label">Postal Code</label>
        <input asp-for="PostalCode" type="text" class="form-control" placeholder="Enter Postal Code">
        <span class="text-danger" asp-validation-for="PostalCode"></span>
    </div>
    <div class="mb-4 px-3">
        <label for="phoneInput" class="form-label">Country</label>
        <select class="form-select" asp-for="SelectedCountry" asp-items="Model.CountriesSelectionList">
            <option disabled selected>Select Country</option>
        </select>
        <span class="text-danger" asp-validation-for="SelectedCountry"></span>
    </div>
    <div class="mb-4">
        <button  type ="submit" class="btn purple-background text-white ms-3 mt-2">Add Address</button>
    </div>
</form>