@model CSOS.Core.DTO.AccountDto.PasswordChangeRequest

@* Password change Form Fields *@
<form asp-controller="Account" asp-action="ChangePassword" id="passwordChangeForm" class="pt-3" method="post">
    @Html.AntiForgeryToken()
    <div class="mb-4 px-3">
        <label asp-for="CurrentPassword" class="form-label">Current Password</label>
        <input asp-for="CurrentPassword" type="password" class="form-control" placeholder="Enter Current Password">
        <span class="text-danger" asp-validation-for="CurrentPassword"></span>
    </div>
    <div class="mb-4 px-3">
        <label asp-for="NewPassword" class="form-label">New Password</label>
        <input asp-for="NewPassword" type="password" class="form-control" placeholder="Enter New Password">
        <span class="text-danger" asp-validation-for="NewPassword"></span>
    </div>
    <div class="mb-4 px-3">
        <label asp-for="ConfirmPassword" class="form-label">Confirm Password</label>
        <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Enter Confirmation Password">
        <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
    </div>
    <div class="mb-4">
        <button type="submit" class="btn purple-background text-white ms-3 mt-2">Change</button>
    </div>
</form>