@{
    Layout = "_Layout";
}
@section Styles {
    @RenderSection("Styles", required: false)
    <link href="~/css/account-styles.css" rel="stylesheet" />
}
@* Sidebar for account actions *@
<div class="container form-container">
    <div class="row">
        <div class="col-12 col-lg-3 mb-4 mb-lg-0">
            <div class="bg-white shadow p-3 mb-4 text-center rounded-2">
                <i class="fa-solid fa-user fa-6x mb-3 d-block"></i>
                <span>@User.Identity!.Name</span>
                @if (User.IsInRole("Admin"))
                {
                   <span class="badge purple-background">Admin</span>
                }
                else if (User.IsInRole("User"))
                {
                    <span class="badge bg-secondary">User</span>
                }
            </div>
            <div class="bg-white shadow rounded-2">
                <div class="px-3 py-3">
                    <a class="own-link-style" asp-controller="Account" asp-action="AccountDetails">Account Settings</a>
                </div>
                <hr class="w-100 p-0 m-0">
                <div class="px-3 py-3">
                    <a class="own-link-style" asp-controller="Offer" asp-action="Create">Add Offer</a>
                </div>
                <hr class="w-100 p-0 m-0">
                <div class="px-3 py-3">
                    <a class="own-link-style" asp-controller="Offer" asp-action="UserOffers">My Offers</a>
                </div>
                <hr class="w-100 p-0 m-0">
                <div class="px-3 py-3">
                    <a class="own-link-style">Purchase History</a>
                </div>
                <hr class="w-100 p-0 m-0">
                <div class="px-3 py-3">
                    <a class="own-link-style" asp-controller="Account" asp-action="Logout">Logout</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-9 ">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false);
}
