@{
    ViewData["Title"] = "Cart";
}
@section Styles {
    <link rel="stylesheet" href="~/css/cart-styles.css" asp-append-version="true" />
}
<div class="container">
    <h2>This is a view for users cart</h2>
</div>
