@using CSOS.UI.ViewModels.SharedViewModels
@using ComputerServiceOnlineShop.Entities.Models
@model ErrorViewModel
@{
    ViewBag.Title = "Error";
}
@section Styles{
    <link rel="stylesheet" href="~/css/error-styles.css" />
}
<div class="container error-container">

    <div class="row text-center">
        <div class="col-3"></div>
        <div class="col-6 midesection-style">
            <i class="fa-solid fa-6x fa-triangle-exclamation"></i>
            <h1 class="purple-text fw-bold mt-2">Ooops!</h1>
            <h2>
                @(Model.Message ?? "An error occurred while processing your request.")
            </h2>
            <span>Try searching or go to <a asp-controller="Home" asp-action="Index" class="purple-text">Partify home page</a></span>
        </div>
        <div class="col-3"></div>
    </div>
</div>