.carousel-item {
    max-height: 1000px;
    height: auto;
}
    /*Image in carousel props*/
    .carousel-item img {
        filter: brightness(0.5);
        
    }
/*Setting position of captions*/
.carousel-caption {
    position: absolute;
    top: 20px;
    text-align: left;
}

    .carousel-caption h2 {
        font-size: 100px;
        font-weight: 500;
    }

    .carousel-caption p {
        font-size: 25px;
    }
.fa-star {
    color: #25262b;
    opacity: 0.8;
}
.card-body h5
.card-body h6 {
    overflow: hidden;
    white-space: nowrap;
}

.item-price {
    text-overflow: ellipsis;
    font-weight: 700;
    color:black;
}
.item-name {
    text-overflow: ellipsis;
    color: black;
}

.card-img-top {
    object-fit: cover;
    width: 100%;
    height: 200px;
    overflow: hidden;
    transition: filter 0.3s ease-in;
}

.card:hover .card-img-top {
    filter: brightness(0.7);
}
.card:hover .item-name{
    text-decoration: underline;
}
.card:hover .fa-star {
    color: #863cb0;
    opacity: 1;
}
.card-link {
    text-decoration: none;
    display: block; 
}
.card-body h6.item-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
}
.scrolling-wrapper {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scrollbar-width: none;
    gap: 0.5rem; 
}

    .scrolling-wrapper::-webkit-scrollbar {
        display: none;
    }

.scrollButton {
    background-color: white;
    border-radius: 20px;
    border: 0px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.1);
}

.category-img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    border: 2px solid #e0e0e0;
    padding: 5px;
    background-color: white;
    transition: transform 0.3s ease-in-out;
    opacity: 0.9;
}

    .category-img:hover {
        transform: scale(1.20);
        border-color: #863cb0;
        opacity: 1;
    }

.best-deals-container {
    background-image: url('/images/nebula.jpg');
    height: 450px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-top: 2px solid #863cb0;
    border-bottom: 2px solid #863cb0;
}
    .best-deals-container .scrollButton {
        color: white;
        border: 1px solid rgba(255, 255, 255, 0.3);
        background-color: rgba(0, 0, 0, 0.3);
    }