.description-preview {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5em;
    max-height: 7.5em;
}
.offer-browser-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 0.5rem;
}

.custom-button {
    background-color: #863cb0 !important;
    color: white;
    border: 0;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 0.5rem;
}

.offer-link{
    color: black;
}
    .offer-link:hover {
        color: black;
        text-decoration: underline;
    }

svg {
    width: 3.25em;
    transform-origin: center;
    animation: rotate4 2s linear infinite;
}

circle {
    fill: none;
    stroke: hsl(214, 97%, 59%);
    stroke-width: 2;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash4 1.5s ease-in-out infinite;
}

@keyframes rotate4 {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash4 {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 200;
        stroke-dashoffset: -35px;
    }

    100% {
        stroke-dashoffset: -125px;
    }
}