@{
    ViewData["Title"] = "Login";
}
@section Styles {
    <link rel="stylesheet" href="~/css/registration-style.css" asp-append-version="true" />
}
<div class="container login-page-container">
    <div class="text-center mb-3 midesection-style ms-1 me-1">
        <i class="fa-solid fa-store fa-10x"></i> <br />
        <h1 class="fw-bold">Marketplace</h1>
        <h6>Place for your electronics</h6>
    </div>
    <h3 class="fw-bold ms-1">Base Info</h3>
    <form>
        <div class="row midesection-style shadow p-3 mb-3 ms-1 me-1 shadow">
            <div class="col-sm-6">
                <div class="mb-3">
                    <label class="form-label">First Name*</label>
                    <input type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Surname*</label>
                    <input type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Password*</label>
                    <input type="password" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Email address*</label>
                    <input type="email" class="form-control" id="exampleInputEmail1">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div> 
            </div>
            <div class="col-sm-6">
                <div class="mb-3">
                    <label class="form-label">NIP</label>
                    <input type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Title</label>
                    <input type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Phone Number</label>
                    <input type="text" class="form-control">
                </div>
                <div class="mb-3">
                </div>
            </div>
        </div>
        <h3 class="fw-bold ms-1">Address Info</h3>
        <div class="row midesection-style shadow p-3 ms-1 me-1">
            <div class="col-sm-6">
                <div class="mb-3">
                    <label class="form-label">Place*</label>
                    <input type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Street*</label>
                    <input type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">House Number*</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="mb-3">
                    <label class="form-label">Postal City*</label>
                    <input type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Postal Code*</label>
                    <input type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Country*</label>
                    <input type="password" class="form-control">
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 text-center">
                <button type="submit" class="btn btn-outline-light w-50">Register</button>
            </div>
        </div>
    </form>
</div>