@{
    ViewData["Title"] = "Add Offer";
}
@section Styles {
    <link rel="stylesheet" href="~/css/auction-styles.css" asp-append-version="true" />
}
@section Scripts {
    <script src="~/js/auction-scripts.js"></script>
}
<div class="container mt-3">
    <h3 class="fw-bold ps-2">Adding Offer</h3>
    <div class="midesection-style mb-2">
        <div class="row">
            <div class="col-12">
                <h7 class="fw-bold">
                    Offer Info
                </h7>
                <div class="progress" role="progressbar">
                    <div class="progress-bar" style="width: 100%"></div>
                </div>
            </div>
        </div>
    </div>
    <form>
        <div class="mb-3 midesection-style">
            <div class="row">
                <h5 class="fw-bold">Pictures*</h5>
                <label for="pictures" class="form-label">Add some photos of your product</label>
                <div class="col-7">
                    <input class="form-control" type="file" id="pictures" multiple>
                </div>
                <div class="col-auto">
                    <button class="btn custom-button" onclick="clearPictures()">Clear Photos</button>
                </div>
            </div>
        </div>
        <div class="mb-3 midesection-style">
            <div class="col-12 col-lg-7">
                <h5 class="fw-bold">Title*</h5>
                <label for="title" class="form-label">Tell buyers, whate are your selling, mark, model or color</label>
                <input class="form-control" type="text" id="title">
            </div>
        </div>
        <div class="mb-3 midesection-style">
            <div class="row">
                <h5 class="fw-bold">Category and Condition*</h5>
                <label class="form-label">Choose category and condition of your item</label>
                <div class="col-12 col-lg-6">
                    <select class="form-select">
                        <option selected disabled class="fw-bold">Category</option>
                        <option value="1">GPU</option>
                        <option value="2">CPU</option>
                        <option value="3">RAM</option>
                        <option value="4">PSU</option>
                        <option value="5">CASE</option>
                        <option value="6">Mouse</option>
                        <option value="7">Keyboard</option>
                    </select>
                </div>
                <div class="col-12 col-lg-6 mt-2 mt-lg-0">
                    <select class="form-select">
                        <option selected disabled class="fw-bold">Condition</option>
                        <option value="1">New</option>
                        <option value="2">Used</option>
                        <option value="3">Visible use marks</option>
                    </select>
                </div>
            </div>

        </div>
        <div class="mb-3 midesection-style">
            <div class="row">
                <h5 class="fw-bold">Price and Qunatity*</h5>
                <div class="col-12 col-lg-6">
                    <div class="input-group">
                        <span class="input-group-text">PLN</span>
                        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                        <span class="input-group-text">.00</span>
                    </div>
                </div>
                <div class="col-12 col-lg-6 mt-2 mt-lg-0">
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-text">PCS</span>
                    </div>
                </div>
            </div>
        </div>


        <div class="mb-3 midesection-style">
            <div class="col-12 col-lg-7">
                <h5 class="fw-bold">Description</h5>
                <label for="exampleFormControlTextarea1" class="form-label">Give detailed info about item, to evade customers questions</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="10"></textarea>
            </div>
        </div>
        <div class="mb-3 midesection-style">
            <div class="col-12 col-lg-7">
                <h5 class="fw-bold">Delivery Method</h5>
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Small Package
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Small items, hdd drive, cpu, ram
                                <hr />
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
                                <label class="form-check-label" for="flexCheckIndeterminate">
                                    Inpost Parcel Locker
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Medium Package
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Bigger items, pc case, cpu cooler
                                <hr />
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
                                <label class="form-check-label" for="flexCheckIndeterminate">
                                    Inpost Parcel Locker
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Big Package
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                PC case, whole PC, monitor
                                <hr />
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
                                <label class="form-check-label" for="flexCheckIndeterminate">
                                    Inpost Parcel Locker
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h5 class="fw-bold mt-3">Other Delivery Method</h5>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
                <label class="form-check-label" for="flexCheckIndeterminate">
                    Przesyłka kurierska - pobranie
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
                <label class="form-check-label" for="flexCheckIndeterminate">
                    Przesyłka kurierska - przedpłata
                </label>
            </div>
        </div>


        <div class="mb-3 midesection-style text-end">
            <div class="col-12">
                <button type="submit" class="btn submit-btn">Place offer</button>
            </div>
        </div>
    </form>
    <script>

    </script>
</div>