/*Styles for adding, editing, displaying  existing offer in application*/
.midesection-style {
    background-color: white;
    padding: 13px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}
    .midesection-style .submit-btn,
    .midesection-style .custom-button {
        background-color: #863cb0 !important;
        color: white;
        border: 0;
    }
    .submit-btn,
    .custom-button {
        background-color: #863cb0 !important;
        color: white;
        border: 0;
    }
.midesection-style .submit-btn {
    width: 300px;
}
        .midesection-style .submit-btn:hover,
        .midesection-style .custom-button:hover {
            background-color: #25262b;
            color: black;
        }

@media (max-width: 767px) {
    .midesection-style .submit-btn {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}
/*Style that help distunguish current step in adding new item to marketplace offer*/
.progress-bar {
    border-radius: 10px;
    background-color: #863cb0;
}

.next-step {
    opacity: 0.3;
}


/*This section is for displaying all user's listings */
.offer-image{
    max-width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
}
.card img.offer-browser-image {
    aspect-ratio: 4 / 3; /* optional, keeps width:height consistent */
}

/* This section is for dispalying all ooffers in offerbroweser*/
.offer-browser-image {
    width: 100%;
    max-height: 250px;
    height: 250px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

/*This section is for styles in page */
.image-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto; /*Centering a div */
}

.carousel-inner {
    width: 100%;
    height: auto;
    max-width: 600px;
    max-height: 400px;
}

.carousel-item img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

/* Responsive adjustments */
@media (max-width: 767px) {
    .carousel-inner {
        max-width: 100%;
        height: auto;
    }

    .image-container {
        max-width: 100%;
    }

    .carousel-item img {
        height: 300px; /* Reduce height for smaller screens */
    }
}

/*This section is for styles in page Cart*/
.purple-text {
    color: #863cb0;
}
.custom-button {
    background-color: #863cb0;
    color: white;
}
