/*Definition of styles used in pages Login.cshtml and Register.cshtml */
/*Change that later*/
.login-page-container {
    max-width: 1000px;
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 100px;
}
.separator {
    display: flex;
    align-items: center;
    text-align: center;
    color: #888;
    font-size: 16px;
}

    .separator::before,
    .separator::after {
        content: "";
        flex: 1;
        border-bottom: 1px solid #ccc;
    }

    .separator:not(:empty)::before {
        margin-right: 10px;
    }

    .separator:not(:empty)::after {
        margin-left: 10px;
    }

.third-parties-button {
    width: 100%;
    border: 1px, solid, black;
}
