/*Definition of styles used in pages Login.cshtml and Register.cshtml */
/*Change that later*/
.login-page-container {
    max-width: 1000px;
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 100px;
}
